var inviteForm = document.getElementById("new_invite");
<%# if @invite.exist? == false %>
  <% if @invite.persisted? %>
    newInvite = "<%= j render 'invites/show', invite: @invite %>";
    invites = document.getElementById("invites-list");
    invites.insertAdjacentHTML('afterbegin', newInvite);
    inviteForm.innerHTML = "<%= j render 'shared/inviteform', event: @event, invite: Invite.new %>"
    var inviteInput = document.getElementById('invite_email')
    inviteInput.value = ''
    document.getElementById("email-validation").remove()
  <% else %>
    if (document.getElementById("email-validation")) {
      document.getElementById("email-validation").remove();
    }
    inviteForm.innerHTML = "<%= j render 'shared/inviteform', event: @event, invite: Invite.new %>"
    inviteForm.insertAdjacentHTML('afterend', "<p id='email-validation'> Please enter a valid email address </p>")
  <% end %>
<%# else %>
  // console.log("Hello!")
  // inviteForm.insertAdjacentHTML('afterend', "<p id='email-validation'> Email already invited </p>")
<%# end %>
