// Define variables for your color scheme

// For example:
$red: #EB5757;
$blue: #469AE0;
$yellow: #FFCD23;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-gray: #4F4F4F;
$white: #FFFFFF;
$light-yellow: #FFE899;
$light-red: #FBDDDD;
$face-green: #6FBA59;
