.dashboard-container {
  text-align: center;
  padding: 30;
  margin-top: 40px;
  a:hover {
    text-decoration: none;
  }
}

.user-dashboard-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  transition: all 0.4s;
}

.user-index-button {
  margin-bottom: 10px;
}

.red-banner {
  border-top: 3px solid $yellow;
}

.events-container {
  h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
  }
}

.event-card {
  text-align: center;
  border-radius: 15px;
  background-color: rgb(253, 253, 253);
  padding: 20px;
  font-family: "Poppins", "sans-serif";
  border: 2px solid $light-gray;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
  a {
    margin: 0px !important;
  }
}

.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.event-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.delete-button {
  font-weight: 550;
  a {
    color: $red;
  }
  a:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

.hover-red {
  &:hover {
    box-shadow: 2px 2px 2px $red;
  }
}

.hover-yellow {
  &:hover {
  box-shadow: 2px 2px 2px $yellow;
  }
}

.event-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-title {
  width: 30%;
  text-align: center;
  line-height: 15px;
  h4 {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  p {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.event-box {
  position: relative;
}

.delete-button {
  font-weight: 550;
  a {
    color: $red;
  }
  a:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

.event-box:hover .user-dashboard-icon {
  transform: translateY(-8px);
}

.event-box:hover .icon-hover-text {
  opacity: 1;
}

.icon-hover-text {
  position: absolute;
  font-size: 12px;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100px;
  opacity: 0;
  transition: opacity 0.4s;
}

.events-add {
  display: inline-block;
  color: $dark-gray;
  &:hover {
    color: $red;
  }
  p {
    text-decoration: none !important;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}
