.event-card {
  text-align: center;
  letter-spacing: 2px;
  width: 219px;
  height: 340px;
  background-color: white;
  color: black;
}

.user-avatar {
  border-radius: 50%;
}

.event-information {
  letter-spacing: 2px;
  margin-top: 5px;
  font-size: 24px;
  margin-bottom: 5px;
}

.card-link {
  margin-top: 5px;
}
