.event-dashboard {
  text-align: center;
  color: $red;
  padding: 30px;
  position: relative;
  h1 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  p {
    color: $dark-gray;
    margin-bottom: 0px;
  }
}

.event-info-header {
  margin-bottom: 10px;
  font-size: 16px;
}

.gift-links {
  font-weight: 600;
  a {
    color: $dark-gray;
  }
}

.gift-links:hover {
  a {
    color: $red;
  }
}

// Gift Card SCSS

.gift-card {
  text-align: center;
  background-color: rgb(253, 253, 253);
  width: 220px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  &:hover {
  box-shadow: 1px 1px 1px;
  color: $red;
  }
}

.gift-card:hover {
  box-shadow: 3px 3px 3px $red;
}

.gift-info {
  h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
  }
}

.gift-photo {
  margin-top: 15px;
}

.btn.btn-info.btn-lg {
  background-color: white;
  color: $dark-gray;
  border: none;
  border-style: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  width: 220px;
  text-align: center;
  padding: 0px;
  margin-top: 10px;
  :focus {outline:0 !important;}
}


// Modal SCSS

.modal-content {
  padding: 30px;
  text-align: left;
  color: $dark-gray;
  box-shadow: none;
  border: none;
}

.modal-header {
  padding: 0px;
  border-bottom: none;
}

.modal-title {
  font-family: "Poppins";
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.modal-body {
  padding: 0px;
  align-items: center;
  display: flex;
  margin-top: 15px;
}

.modal-info {
  width: 40%;
  img {
    margin-top: 0px;
  }
  p {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 0px;
    line-height: 20px;
  }
}

.modal-pay {
  text-align: center;
  width: 60%;
  img {
    width: 80px;
    height: 80px;
  }
}

.button.close {
  color: $dark-gray;
}

.modal-background-color {
  background-color: $white;
  padding: 20px;
}

.avatar-container {
  display: flex;
  margin-left: 45px;
  img {
    margin-left: -45px;
  }
}

.contributor-avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: $dark-gray;
  padding-top: 10px;
  p {
    margin-bottom: 0px;
  }
}

.contributions {
  margin-left: 0px;
  font-size: 14px;
  color: $dark-gray;
  padding: 10px;
}

.avatar-xs {
  border-radius: 50%;
  height: 22px !important;
  width: 22px !important;
}

.modal-padding {
  padding: 10px;
}
