// Event Dashboard
.event-dashboard {
  text-align: center;
  color: $red;
  padding: 30px;
  position: relative;
  h1 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  p {
    color: $dark-gray;
    margin-bottom: 0px;
  }
}

.event-info-header {
  margin-bottom: 10px;
  font-size: 16px;
}

.event-info-title {
  h1 {
    display: inline-block;
  }
  i {
    color: $dark-gray;
    display: inline-block;
  }
}

// Gift Card SCSS
.gift-card {
  text-align: center;
  background-color: rgb(253, 253, 253);
  width: 220px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  position: relative;
  &:hover {
    box-shadow: 3px 3px 3px $red;
  }
}
.gift-link-info {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 700;
}

.gift-link-name {
  text-decoration: none !important;
  color: $dark-gray !important;
  font-family: "Poppins", "sans-serif";
}

.gift-photo {
  margin-top: 15px;
}

.static-add-gift a:hover {
  text-decoration: none;
}

.new-gift-card {
  text-align: center;
  background-color: rgb(253, 253, 253);
  width: 220px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    box-shadow: 3px 3px 3px $red;
  }
  h3 {
    margin: 0;
    color: $dark-gray;
  }
  h4 {
    margin-top: 0;
    color: $dark-gray;
  }
}

.gifts-tab {
  padding-top: 30px;
}

.btn.btn-info.btn-lg {
  background-color: transparent;
  color: $dark-gray;
  border: none;
  border-style: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  width: 220px;
  height: 250px;
  text-align: center;
  padding: 0px;
  margin-top: -205px;
  :focus {outline:0 !important;}
}

.gift-modal-name {
  padding-top: 200px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}


// Modal SCSS

.modal-content {
  padding: 20px;
  text-align: center;
  color: $dark-gray;
  box-shadow: none;
  border: none;
}

.modal-header {
  padding: 0px;
  text-align: center;
  border-bottom: none;
}

.modal-title {
  text-align: left;
  font-family: "Poppins";
  padding-bottom: 20px;
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.modal-body {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-info {
  width: 200px;
  text-align: left;
  img {
    margin-top: 0px;
  }
  p {
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 0px;
    line-height: 20px;
  }
}

.modal-pay {
  text-align: center;
  padding-left: 40px;
}

.button.close {
  color: $dark-gray;
}

.modal-background-color {
  background-color: $white;
  padding: 20px;
}

.contributors-container {
  display: inline-flex;
  flex-direction: row-reverse;
  padding-left: 17px;
  padding-right: 10px;
}

.contributor-avatar {
  margin-left: -12px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.contributors {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.contributions {
  margin-left: 0px;
  font-size: 14px;
  color: $dark-gray;
  padding: 10px;
  text-align: center;
}

.contributor-names {
  text-align: left;
  font-size: 14px;
  p {
    margin-bottom: 0;
  }
}

.avatar-xs {
  border-radius: 50%;
  height: 22px !important;
  width: 22px !important;
  margin-right: 0px;
}

.modal-padding {
  padding: 10px;
}

.jar img {
  width: 80px;
  height: 80px;
}

// HOVER
#popup {
  color: $dark-gray;
  background-color: $white;
  text-align: center;
}

#popup a, #popup a:visited {
  width: 220px;
  position: relative;
  text-decoration: none;
}

#popup a span {
  display: none;
  border: 1px solid $yellow;
}

#popup a:hover {
  background-color: $white;
}

.pop-up-info {
  font-size: 14px;
  color: $dark-gray;
}

/* the IE correction rule */
#popup a:hover  {
  color: $dark-gray;
  background-color: $white;
  text-indent: 0; /* added the default value */
}

#popup a:hover span {
  display: block;
  position: absolute;
  top: -90px;
  width: 220px;
  height: 250px;
  padding: 35px;
  font-weight: normal;
  background: $white;
}

.small-jar img {
  width: 60px;
  height: 60px;
}

// Contributor Pop-up

#others-popup {
  color: $dark-gray;
  background-color: transparent;
  border: none;
}

#others-popup a, #others-popup a:visited {
  position: relative;
  text-align: left;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: $red;
}

#others-popup a span {
  display: none;
}

/* the IE correction rule */
#others-popup a:hover  {
  color: $dark-gray;
  background-color: $white;
}

#others-popup a:hover span {
  display: block;
  position: absolute;
  margin: 0px;
  width: 100px;
  padding: 10px;
  color: $dark-gray;
  border: 1px solid $red;
  font-weight: normal;
  background: $white;
  text-align: left;
  font-size: 12px;
}

.form-control {
  margin-bottom: 20px;
}

// Invites Tab
#invites-list {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  background-color: $white;
  box-shadow: 1px 1px 1px $red;
  p {
    margin-bottom: 3px !important;
    font-size: 16px;
    margin-top: 3px
  }
  h4 {
    margin-bottom: 0px;
  }
}

.messages-tab {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.invite-btn {
  border-radius: 4px;
  background-color: $red;
  padding: 3px 7px;
  border: none;
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background-color: $red;
    color: $white;
    opacity: 0.8;
  }
}

.email-line {
  height: 3px;
  width: 93px;
  background-color: $red;
  margin-bottom: 3px;
  margin-top: 3px;
}

.invites-sent {
  display: flex;
  justify-content: space-between;
}

.resend {
  margin-left: 4px;
}

#progress {
  width: 100px;
  height: 100px;
  position: relative;
}

.progress-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-info {
  margin-left: 10px;
  p {
    font-size: 12px;
    margin: 0px;
  }
}

