// Specific CSS for your home-page

.increase-font {
  font-size: 20px;
  font-weight: bold;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
}

.margin-top {
  margin-top: 0px;
}

.home-container {
  margin: 0 auto;
}

.white-background {
  background: $red;
  min-height: calc(100vh - 130px);
  color: $red;
  padding-top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-container {
  height: 420px;
  text-align: center;
  background-color: $yellow;
  position:absolute;
  left:0;
  right:0;
  top: 70px;
}

.welcome-container h2 {
  z-index: 6;
  margin: 100px 300px 50px;
}

.boy-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}


.boy {
  transition: ease 0.8s;
  text-align: left !important;
  z-index: 5;
}

.boy-img {
  height: 65vh;
}

.boy-animation {
  transform: translateX(50px) translateY(-50px);
  transition: ease 0.8s;
}

.wecome-container {
  height: auto;
  margin: auto;
  text-align: center;
}

.banner-font {
  font-size: 70px;
  margin: 20px;
}

.content-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $white;
}

.button-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}
// Explainer

.girl {
  text-align: center;
  background-color: $yellow;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.explainer-text {
  width: 50%;
  background-color: white;
  border:dashed 5px $yellow;
    h5 {
      color: $red;
      font-size: 20px;
      padding: 3px;
    }
}

.flex {
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.explainer {
  padding: 10px 0;
  background-color: white;
  // background: url("http://res.cloudinary.com/dj2d1zdlv/image/upload/v1520970661/howitworks1.png");
  background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // min-height: 600px;
}

// .white-font {
//   color: $white;
// }

.how-section {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-bottom {
  padding-bottom: 10px;
}

.cause-item {
  max-width: 530px;
  background-color: $yellow;
}

// Arrow animation
$base: 0.6rem;

.container-arrow {
 display: flex;
 justify-content: center;
 // align-items: center;
 // width: 100%;
 margin-bottom: 20px;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: $yellow;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
  }
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

//Avatar

.people-box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.people {
  padding: 50px;
  background-color: $white;
  h1 {
  text-align: center;
  // letter-spacing: 5px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  }
}

.people-card {
  text-align: center;
  margin-top: 0px;
  h3 {
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
}

.team-avatar {
  position: relative;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px 50px;
  border: 5px solid $yellow;}
  }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  padding: 10px;
}

.team-avatar:hover .overlay {
  opacity: 1;
}

.people-info p {
  margin: 0;
}

.people-description {
  font-size: 16px;
  }

.padding-top-btn {
  position: relative;
  top: 300px;
}

.opacity {
  opacity: 0.7;
}
