// Specific CSS for your home-page
.home-container {
  background-color: $white;
}

.increase-font {
  font-size: 20px;
  font-weight: bold;
  margin: none !important;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
}

.welcome-container {
  position:absolute;
  left:0;
  right:0;
  top: 70px;
  background-color: $yellow;
  height: calc(100vh - 75px);
  margin-top: 0px;
}

.yellow-container {
  height: 70%;
  background-color: $yellow;
  color: $red;
  padding: 10px;
  width: 70%;
  margin-left: 6%;
  margin-bottom: 10px;
  margin-top: 10px;
  h2 {
    z-index: 6;
    // margin: 60px 200px 20px;
    margin-right: auto;
    width: 100%;
    font-size: 90px;
    text-align: right;
  }
  p {
    color: $red;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-bottom: 0px;
  }
}

.red-container {
  height: 30%;
  text-align: center;
  background-color: $red;
  margin-top: -16px;
}

.button-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: $red;

}

.boy-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.boy {
  transition: ease 1s;
  text-align: left !important;
  z-index: 10;
  margin-left: 180px;
  margin-top: 90px;
}

.boy-img {
  height: 76vh;
}

.boy-animation {
  transform: translateX(50px) translateY(-50px);
  transition: ease 1s;
}

.content-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $white;
  height: 100vh;
}

// Explainer

.explainer-boxes {
  background-color: $yellow;
}
.inline {
  display: inline-block;
}
.explainer-text-box {
  padding: 20px;
}

.girl {
  text-align: center;
  background-color: $red;
  width: 100%;
  padding: 30px;
  height: 490px;
}

@media (max-width: 992px) {
  .explainer-text {
    width: 76.1vw !important;
    margin-left: 3.6vw;
  }
}


.explainer-text {
  width: 40vw;
  background-color: white;
  border:dashed 5px $red;
  padding: 30px;
  height: 490px;
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  p {
    color: $dark-gray;
  }
  a {
    margin-top: 20px;
  }
}

.flex {
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.explainer {
  padding: 90px;
  margin-top: 40px;
  background-color: white;
  background-position: center center;
}

.padding-bottom {
  padding-bottom: 10px;
}

.cause-item {
  max-width: 530px;
  background-color: $yellow;
}

.dark-gray {
  color: $dark-gray;
}

// Arrow animation
$base: 0.8rem;

.container-arrow {
 display: flex;
 justify-content: center;
}

.chevron {
  position: absolute;
  width: $base * 4;
  height: $base * 0.5;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: $yellow;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
  }
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

//Avatar

.people-box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .people-box {
    flex-direction: column;
  }
}

.people {
  padding: 50px;
  background-color: $white;
  h1 {
  text-align: center;
  // letter-spacing: 5px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  }
}

.people-card {
  text-align: center;
  margin-top: 0px;
  h3 {
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
}

.team-avatar {
  position: relative;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px 50px;
  border: 5px solid $yellow;}
  }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  padding: 10px;
}

.team-avatar:hover .overlay {
  opacity: 1;
}

.people-info p {
  margin: 0;
}

.people-description {
  font-size: 16px;
  }

.padding-top-btn {
  position: relative;
  top: 300px;
}

.opacity {
  opacity: 0.7;
}

.home-line {
  height: 1px;
  background-color: $red;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (max-width: 1410px) {
  .boy{
    margin-left: 0px;
  }
}

@media (max-width: 1190px) {
  .yellow-container h2 {
    font-size: 65px;
  }
}

@media (max-width: 786px) {
  .boy-img {
    visibility: hidden;
  }
  .yellow-container h2 {
    font-size: 40px;
  }
  .yellow-container {
    width: auto;
  }
}

