<% if params[:controller] == "gifts" && params[:action] == "index" %>
  <div class="footer-yellow">
<% else %>
  <div class="footer-red">
<% end %>
  <div class="footer-content text-center">
    <% if params[:controller] == "gifts" && params[:action] == "index" %>
      <%= cl_image_tag "logo-yellow", width: 100 %>
    <% else %>
      <%= cl_image_tag "logo-red", width: 100 %>
    <% end %>
    <p class="footer-tag">Let's gift something meaningful</p>
    <hr class="padding-bottom" style="width:28%; margin: 0 auto;">
    <p>Join our newsletter</p>
    <form accept-charset="UTF-8" action="/" method="get">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input id="q" name="email" type="text" />
      <input name="commit" class="btn-subscribe" type="submit" value="Subscribe" />
    </form>
    <% if params[:controller] == "gifts" && params[:action] == "index" %>
      <div class="footer-links-yellow">
    <% else %>
      <div class="footer-links-red">
    <% end %>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    <div class="footer-tag">
      <!-- <p>This footer is made with <i class="fa fa-heart"></i> at Gifter</p> -->
      <p>Copyright © 2018 Gifter</p>
    </div>
  </div>
</div>
