<div class="footer">
  <div class="footer-content text-center">
    <%= cl_image_tag "logo-yellow", width: 100 %>
    <p class="footer-tag">Let's gift something meaningful</p>
    <hr style="width:30%">
    <p class="yellow">Let's keep in touch</p>
    <form accept-charset="UTF-8" action="/" method="get">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input id="q" name="email" type="text" />
      <input name="commit" class="btn-subscribe" type="submit" value="Subscribe" />
    </form>
    <div class="footer-links">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-tag">
      <!-- <p>This footer is made with <i class="fa fa-heart"></i> at Gifter</p> -->
      <p>Copyright © 2018 Gifter</p>
    </div>
  </div>
</div>
