.footer {
  background: transprent;
  height: 70px;
  padding: 0px 50px;
  color: $dark-gray;
  hr {
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 2px solid $yellow;
  }
}

.footer-content {
  padding: 30px 0 10px;
}

.footer-tag {
  color: $yellow;
  font-size: 14px;
}

.footer-links {
  padding-top: 15px;
  padding-bottom: 20px;
  a {
    color: $yellow;
    opacity: 1;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer .fa-heart {
  color: #C12222;
}

.btn-subscribe {
  border-radius: 5px;
  font-weight: bolder;
  padding: 7px 7px 6px 7px;
  color: $red;
  font-size: 12px;
  &:hover {
    color: $dark-gray;
  }
}
