.footer {
  background: transprent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: $dark-gray;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $dark-gray;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.footer .fa-heart {
  color: #C12222;
}
