// .wrapper {
// border-radius: 10px;
// border-width: 1px;
// border-style: solid;
// }

.white {
  background-color: white;
  font-size: 17px;
}

.avatar-child {
  border-radius: 50%;
  width: 100px;
}
