.white {
  background-color: white;
  font-size: 17px;
}

.avatar-child {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  background-size: cover;
}

.form-container {
  padding: 40px 0;
  a:hover {
    text-decoration: none;
  }
}

.form-btn {
  border-radius: 4px;
  background-color: $red;
  border: none;
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 15px;
  &:hover {
    background-color: $red;
    color: $white;
    opacity: 0.8;
  }
}

.edit-event-form {
  position: relative;
}

.delete-event-btn {
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.invite-form {
  padding-top: 20px;
}
