.message {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-even;
  padding: 20px;
  color: $dark-gray !important;
  p {
    font-size: 14px;
  }
}

.message-avatar {
  padding: 0 15px;
}

.message-info {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  color: $dark-gray
  p {
    margin-top: -10px;
  }
}

.message-body {
  h6 {
    font-size: 16px;
  }
  a {
    color: $dark-gray !important;
    font-size: 16px;
  }
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  line-height: 10px;
}

.message-contribution {
  font-size: 14px;
  width: 80px;
}

.message-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-time {
  font-size: 14px;
  display: inline;
}

.message-item-right {
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  flex-grow: 1;
  border-radius: .4em;
  position: relative;
  margin-right: 10px;
}

.message-item-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #ebebeb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.message-item-left {
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  flex-grow: 1;
  border-radius: .4em;
  position: relative;
  margin-left: 10px;
}

.message-item-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: $light-gray;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.message-text {
  font-size: 15px;
  line-height: 15px;
  margin-left: 0px;
  padding-left: 0px;
  color: $dark-gray !important;
}

.inbox-back {
  color: $dark-gray !important;
  font-size: 14px;
}

// Conversations
.conversation-box {
  display: flex;
}

.messages {
  flex: 1;
  margin-right: 40px;
}

.event-guests {
  width: 36%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  background-color: $white;
  box-shadow: 1px 1px 1px $yellow;
  border: 1px solid $light-gray;
  color: $dark-gray !important;
  h4 {
    margin-bottom: 6px;
    margin-top: 12px;
  }
}

.yellow-email-line {
  width: 263px;
  height: 2px;
  background-color: $yellow;
  margin-bottom: 6px;
}

.fill-high {
  min-height: 60vh;
}

.chat-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  a {
    text-decoration: none !important;
    color: $dark-gray !important;
  }
}

.chat-username {
  display: flex;
  align-items: center;
  p {
    font-size: 16px;
    margin-bottom: 0px !important;
    margin-left: 12px;
  }
}

.yellow-long-line {
  text-align: center;
  height: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
