.message {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-even;
  padding: 20px;
  p {
    font-size: 14px;
  }
}

.message-avatar {
  padding: 0 15px;
}

.message-info {
  font-size: 12px;
  padding-left: 10px;
  width: 150px;
  color: $dark-gray
  p {
    margin-top: -10px;
  }
}

.message-body {
  a {
    color: rgba(0,0,0,0.6) !important;
    font-size: 14px;
  }
  padding-left: 30px;
  flex-grow: 1;
  line-height: 10px;
}

.message-contribution {
  font-size: 14px;
  width: 80px;
}

.message-time {
  font-size: 14px;
}

.message-item {
  padding: 10px;
  margin-bottom: 10px;
}

.message-text {
  font-size: 15px;
  line-height: 15px;
  margin-left: 0px;
  padding-left: 0px;
  color: $dark-gray;
}

.form-container a {
  color: $dark-gray !important;
  font-size: 14px;
}

