.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.gray {
  color: $dark-gray;
}

.font-green {
  color: $face-green;
}

.avatar-lg {
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
}

.avatar-sm {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.avatar-sm-dashboard {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.background-yellow {
  padding: 30px;
  background-color: $yellow;
  min-height: 100vh;
  margin-top: -20px;
}

.background-red {
  padding: 30px;
  background-color: $red;
}

h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-weight: 700;
  font-family: "Poppins";
}

h4 {
  font-weight: 550;
  font-family: "Poppins";
  font-size: 18px;
}

.body-red {
  background-color: $red;
}

.body-yellow {
  background-color: $yellow;
}

.body-white {
  background-color: $white;
}

.body-light-gray {
  background-color: $light-gray;
}

.body-light-yellow {
  background-color: $light-yellow;
}

.body-gray {
  background-color: #ebebeb;
}

.min-container {
  min-height: calc(100vh - 70px);
}

.confetti-red {
   margin-top: 28% !important;
}

.light-yellow {
  background-color: $light-yellow;
}

.light-red {
  background-color: $light-red;
}

.light-gray {
  background-color: $light-gray;
}

.larger-text {
  font-size: 16px;
}
