.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.gray {
  color: $dark-gray;
}
.avatar-lg {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.avatar-sm {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.background-yellow {
  padding: 30px;
  background-color: $yellow;
  height: 100vh;
}

.background-red {
  padding: 30px;
  background-color: $red;
}

h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-weight: 700;
  font-family: "Poppins";
}

h4 {
  font-weight: 550;
  font-family: "Poppins";
  font-size: 18px;
}

.body-red {
  background-color: $red;
}

.body-yellow {
  background-color: $yellow;
}

.body-white {
  background-color: $white;
}

.body-light-yellow {
  padding: 30px;
  background-color: $light-yellow;
}

.min-container {
  min-height: calc(100vh - 70px);
}

.confetti-red {
   margin-top: 28% !important;
}
