.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: bold;
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.nav-tabs > li.active > a {
  background: $yellow !important;
  color: $dark-gray !important;
}

.nav-tabs > li > a {
  background: #ffe385 !important;
  color: $dark-gray !important;
}

.invite-header {
  margin-top: 30px;
}
