.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: bold;
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.nav-tabs > li.active > a {
  background: $yellow !important;
  color: $dark-gray !important;
  border-left: 1px solid $red !important;
  border-right: 1px solid $red !important;
  border-top: 1px solid $red !important;
  border-bottom: 1px solid $yellow! important;
}

.nav-tabs > li > a {
  background: #ffe385 !important;
  color: $dark-gray !important;
}

.invite-header {
  margin-top: 30px;
}

.gifts-tab {
  border-top: none !important;
}

.nav.nav-tabs {
  border-bottom: 1px solid $red !important;
  a {
    border-bottom: 1px solid $red;
  }
  a:hover {
    border-right: 1px solid $red !important;
    border-top: 1px solid $red !important;
    border-bottom: 1px solid $yellow !important;
    border-left: 1px solid $red !important;
    background-color: $yellow !important;
  }
}


